<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.ankushsachdeva.emojicon">

    <!--<uses-sdk android:targetSdkVersion="19" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ziffy_logo_updated"
        android:label="@string/app_name">

    </application>

</manifest>
